@model MaxisSmartHomeControlSystemMVCDemo.Models.UserLogin
@{
    ViewBag.Title = "Index";
}

<style>
    html, body {
        height: 100%;
    }

    body {
        background-color: transparent;
        background-position: center center;
        color: #262626;
        font-family: Sans-serif, "Times New Roman", Times, serif;
    }

    div.vertical {
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .loginSubTitile {
        color: #AD8C42;
        font-size: 30px;
        font-weight: normal;
        margin: 0px;
    }

    .loginTextBox {
        background-color: transparent;
        width: 100%;
        height: 68%;
        margin-top: 1px;
        color: #656565;
        font-size: 12px;
        font-weight: normal;
        display: inline-block;
        text-align: left;
        margin-bottom: -2px;
        border-bottom: 1px solid #656565;
    }

    .loginTextEntryTip {
        width: 100%;
        font-size: 12px;
        color: #131313;
        display: inline-block;
        text-align: right;
        margin-top: -10px;
    }

    .loginTextEntryTipPwd1 {
        width: 60px;
        font-size: 12px;
        color: #131313;
        display: inline-block;
        text-align: right;
        margin: -20px 0px 16px 96px;
    }

    .loginTextEntryTipPwd2 {
        width: 60px;
        font-size: 12px;
        color: #131313;
        display: inline-block;
        text-align: right;
        margin: -20px 0px 16px 1px;
    }

    .loginTextInner {
        background-color: transparent;
        border: 1px solid transparent; /* #656565 */
        color: #131313;
        font-size: 14px;
        padding: 12px 6px 1px 6px; /*padding-top, padding-right, padding-bottom, padding-left */
    }

    .break {
        content: " ";
        display: block;
        margin: 0.1em 0;
    }

    .imgHover {
        cursor: pointer;
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .field-validation-error {
        white-space: nowrap;
        font-size: 14px;
        color: red;
    }

    input::-webkit-input-placeholder {
        background-color: transparent;
        color: #A9A9A9 !important;
        font-size: 14px;
    }
    /* Firefox 18- */

    input:-moz-placeholder {
        color: #A9A9A9 !important;
        font-size: 12px;
    }
    /* Firefox 19+ */
    input::-moz-placeholder {
        color: #A9A9A9 !important;
        font-size: 12px;
    }
    /*
    input:-ms-input-placeholder {
        color: #A9A9A9 !important;
        font-size: 14px;
    }
    */
    /*Change text in autofill textbox only in Chrome*/
    input {
        background: transparent !important;
    }

        input:-webkit-autofill {
            -webkit-text-fill-color: #131313 !important;
            -webkit-box-shadow: inset 0 0 0px 9999px #131313 !important;
        }

    label:focus,
    label:active {
        background: transparent !important;
    }

    .showhidepwd {
        margin: -25px 1px 3px 78px; /*  padding-top, padding-right, padding-bottom, padding-left */
        width: -55px;
        height: 50px;
        border: none;
        background: transparent;
    }
</style>
<div id="loginDiv">
    @using (Html.BeginForm("CreateAccount", "SignUp", FormMethod.Post))
    {
        <div id="mainContentDiv" class="mainContent">
            <div class="horizontal Row1" style="background-color: #FFFFFF: 1px solid transparent; width:550px;height:70px; margin: 0 auto;top:-30px; position:relative;justify-content: center;">
                <h1>Sign Up</h1>
            </div>
            <div class="" style="background-color: #ccc;width:355px;margin: 0 auto;">
                <br /><br />
                <div class="horizontal Row2" style="border: 1px solid transparent; width:252px;height:62px; margin: 0 auto; top:5px; position:relative;background-color: #OCOCOC;">
                    <span class="loginTextBox">
                        @Html.LabelFor(model => model.UserName, "")
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "loginTextInner", @placeholder = "Enter Login ID", style = "width: 350px", maxlength = "16", alt = "User ID", id = "userName" } })
                    </span>
                </div>
                <div class="horizontal underText1" style="border: 1px solid transparent;top:0.01em; width:250px; margin: 0 auto; position:relative; background-color: #OCOCOC;">
                    @Html.ValidationMessageFor(model => model.UserName)
                    <span class="loginTextEntryTip">
                        ( <span id="countUserName">0</span> /16 )&nbsp;
                    </span>
                </div>
                <br />
                <div class="horizontal Row3" style="border: 1px solid transparent;  width:252px;height:62px; margin: 0 auto; top:5px; position:relative;background-color: #OCOCOC;">
                    <div class="vertical EnterUserPwd" style="border: 1px solid transparent; width:121px;height:75px; margin: 0 auto;top:5px; position:relative;background-color: transparent; text-align:center;">
                        <span class="loginTextBox">
                            @Html.LabelFor(model => model.UserPassword, "")
                            @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "loginTextInner", @placeholder = "Enter Password", style = "width:140px", maxlength = "8", alt = "Password", id = "userPwd" } })
                            <span style="top: 26px;"><img id="imgTogglePwd" src="~/images/icon_hidepwd.png" alt="mask password" class="showhidepwd"></span>
                            <br />
                        </span>
                    </div>
                    <div class="vertical EnterUserPwd" style="border: 1px solid transparent; width:121px;height:75px; margin: 0 auto;top:5px; position:relative;background-color: transparent; text-align:center;">
                        <span class="loginTextBox">
                            @Html.LabelFor(model => model.ConfirmPassword, "")
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "loginTextInner", @placeholder = "Confirm Password", style = "width:140px", maxlength = "8", alt = "Confirm Pwd", id = "userConfirmPwd" } })
                            <span style="top: 26px;"><img id="imgToggleConfirmPwd" src="~/images/icon_hidepwd.png" alt="mask password" class="showhidepwd"></span>
                            <br />
                        </span>
                    </div>
                </div>
                <br />
                <div class="horizontal underText2" style="border: 1px solid transparent;top:0.1em; width:450px; margin: 0 auto;top:0px; position:relative; background-color: #OCOCOC;">
                    <div class="vertical EnterUserPwd" style="width:45%;height:35px; margin: 0 auto;top:5px; position:relative;background-color: transparent; ">
                        @Html.ValidationMessageFor(model => model.UserPassword)
                        <span class="loginTextEntryTipPwd1">
                            ( <span id="countPwd">0</span> /8 )&nbsp;
                        </span>
                    </div>
                    <div class="vertical EnterUserPwd2" style="width:45%;height:35px; margin: 0 auto;top:5px; position:relative;background-color: transparent; ">
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        <span class="loginTextEntryTipPwd2">
                            ( <span id="countConfirmPwd">0</span> /8 )&nbsp;
                        </span>
                    </div>
                </div>
                <div class="horizontal Row4" style="border: 1px solid transparent; width:252px;height:62px; margin: 0 auto; top:5px; position:relative;background-color: #OCOCOC;">
                    <span class="loginTextBox">
                        @Html.LabelFor(model => model.UserEmailAddress, "")
                        @Html.EditorFor(model => model.UserEmailAddress, new { htmlAttributes = new { @class = "loginTextInner", @placeholder = "Enter Email Address", @style = "width:350px", @maxlength = "40", id = "userEmail" } })
                    </span>
                </div>
                <div class="horizontal underText4" style="border: 1px solid transparent;top:0.01em; width:250px; margin: 0 auto; position:relative; background-color: #OCOCOC;">

                    @Html.ValidationMessageFor(model => model.UserEmailAddress)
                    <span class="loginTextEntryTip">
                        { <span id="countEmail">0</span> /40 )&nbsp;
                    </span>
                </div>
                <br />
                <div class="horizontal Row5" style="border: 1px solid transparent; width:252px;height:62px; margin: 0 auto; top:5px; position:relative;background-color: #OCOCOC;">
                    <span class="loginTextBox">
                        @Html.LabelFor(model => model.UserMobilePhoneNumber, "")
                        @Html.EditorFor(model => model.UserMobilePhoneNumber, new { htmlAttributes = new { @class = "loginTextInner", @placeholder = "Enter Mobile Phone Number", style = "width: 250px", maxlength = "20", id = "userMobile" } })
                    </span>
                </div>
                <div class="horizontal underText6" style="border: 1px solid transparent;top:0.01em; width:250px; margin: 0 auto; position:relative; background-color: #OCOCOC;">
                    @Html.ValidationMessageFor(model => model.UserMobilePhoneNumber)
                    <span class="loginTextEntryTip">
                        { <span id="countMobile">0</span> /20 )&nbsp;
                    </span>
                </div>
                <br />
                <div class="horizontal Row5" style="border: 1px solid transparent; width:252px;height:62px; margin: 0 auto; top:5px; position:relative;background-color: #OCOCOC;">
                    <span class="loginTextBox" style="border-bottom: 1px solid transparent;">
                        <label for="UserRoleSelect">Role:&nbsp;&nbsp;</label>
                        @Html.DropDownList("UserRoleSelect", new SelectList(ViewBag.UserRoleJsonList, "UserRoleID", "UserRoleDesc"), new { style = "width: 160px;font-size: 16px;" })
                    </span>
                </div><br />
                <div class="horizontal invalidLoginErrorMsg" style="border: 1px solid transparent;top:0.1em; width:430px; margin: 0 auto; position:relative; background-color: #OCOCOC;">
                    <label id="InvalidLoginErrMsg" class="field-validation-error">
                        @Html.DisplayFor(model => model.LoginErrorMessage)
                    </label>
                </div>
            </div>
            <div class="horizontal RowOK2Btn" style="border: 1px solid transparent; width:355px;height:75px; margin: 0 auto;top:3px; position:relative;background-color: transparent;">
                <div class="vertical OkBtn" style="border: 1px solid transparent; width:180px;height:75px; margin: 0 auto;top:5px;background-color: #999999">
                    <button type="submit" class="imgHover">
                        <span id="OK_img" style="font-size:30px;margin-top: 2px;">OK</span>
                    </button>
                </div>
                <div class="vertical RowSignUpBtn" style="border: 1px solid transparent; width:1px;height:75px; margin: 0 auto;top:5px; position:relative;background-color: transparent;">
                </div>
                <div class="vertical RowSignUpBtn" style="border: 1px solid transparent; width:180px;height:75px; margin: 0 auto;padding-top: 6px; position:relative;background-color: #999999; text-align:center;">
                    <span id="Login_img" class="imgHover" style="font-size:30px;margin-top: 7px;">Login</span>
                </div>
            </div>
            <br />
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {

        initCountValues();
        $('input[placeholder]').placeholderLabel();

        $("#userName").on("input", function () {
            $(this).addClass("loginTextInner");
            $("#InvalidLoginErrMsg").hide();
            //$(this).css("loginTextInner");
            $("#countUserName").text(this.value.length);
        });

        $("#userPwd").on("input", function () {
            $("#InvalidLoginErrMsg").hide();
            $("#countPwd").text(this.value.length);
        });

        $("#userConfirmPwd").on("input", function () {
            $("#InvalidLoginErrMsg").hide();
            $("#countConfirmPwd").text(this.value.length);
        });

        $("#userEmail").on("input", function () {
            $("#InvalidLoginErrMsg").hide();
            $("#countEmail").text(this.value.length);
        });

        $("#userMobile").on("input", function () {
            $("#InvalidLoginErrMsg").hide();
            $("#countMobile").text(this.value.length);
        });

        $('#Login_img').click(function () {
            var uri = "/Login/";
            console.log("uri = " + uri);
            window.location.href = uri;
        });

        $("#imgTogglePwd").click(function (e) {
            e.preventDefault();
            //alert("image pwd clicked");
            var x = document.getElementById("userPwd");
            if (x.type === "password") {
                x.type = "text";
                $("#imgTogglePwd").attr('src', "/images/icon_showpwd.png");
            } else {
                x.type = "password";
                $("#imgTogglePwd").attr('src', "/images/icon_hidepwd.png");
            }
        });

        //imgToggleConfirmPwd
        $("#imgToggleConfirmPwd").click(function (e) {
            e.preventDefault();
            //alert("image pwd clicked");
            var x = document.getElementById("userConfirmPwd");
            if (x.type === "password") {
                x.type = "text";
                $("#imgToggleConfirmPwd").attr('src', "/images/icon_showpwd.png");
            } else {
                x.type = "password";
                $("#imgToggleConfirmPwd").attr('src', "/images/icon_hidepwd.png");
            }
        });

        function initCountValues() {
            $("#countUserName").text($("#userName").val().length);
            $("#countPwd").text($("#userPwd").val().length);
            $("#countConfirmPwd").text($("#userConfirmPwd").val().length);
            $("#countEmail").text($("#userEmail").val().length);
            $("#countMobile").text($("#userMobile").val().length);
        }

    });
</script>