

@{
    ViewBag.Title = "Index";

    if (Session["userName"] == null)
    {
        Response.Redirect("~/Login");
    }
}
<style>
    html {
        height: 80%;
    }

    body {
        background-color: transparent;
    }

    div.vertical {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .subTitleDiv {
        display: block;
        margin: 0 auto;
        color: #AD8C41;
        font-size: 32px;
        font-weight: bold;
    }

    .MaxLiteOnOffButton {
        display: block;
        margin: 0 auto;
        color: #AD8C42;
        font-size: 16px;
        font-weight: bold;
    }

    .bottomDiv { /* this css will ensure the div stays on the bottom of page all the time */
        background-color: transparent;
        height: 20px;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }
    /* ----------------------------------------------------------*/
    .ui-widget-content {
        border: 0px solid #ccc;
        background: #262626
    }

    .ui-widget-header {
        border: 0px solid #aaaaaa;
        background: #AD8C42
    }

    .ui-slider {
        position: relative;
        text-align: left;
    }

        .ui-slider .ui-slider-handle {
            height: 5px;
            width: 5px;
            position: absolute;
            z-index: 2;
            width: 1.2em;
            height: 1.2em;
            cursor: default;
        }

        .ui-slider .ui-slider-range {
            position: absolute;
            z-index: 1;
            font-size: .7em;
            display: block;
            border: 0;
            background-position: 10 10;
        }

    .ui-slider-horizontal {
        height: .2em;
        width: 300px;
    }

        .ui-slider-horizontal .ui-slider-handle {
            top: -0.2em;
            margin-left: -.6em;
            width: 30px;
            height: 8px;
            border: 0;
            background: black;
        }

        .ui-slider-horizontal .ui-slider-range {
            top: 0;
            height: 100%;
        }

        .ui-slider-horizontal .ui-slider-range-min {
            left: 0;
        }

        .ui-slider-horizontal .ui-slider-range-max {
            right: 70px;
        }

    .ui-slider-vertical {
        height: 300em;
        width: 1px;
    }

        .ui-slider-vertical .ui-slider-handle {
            top: -0.1em;
            margin-left: 0.1em;
            width: 6px;
            height: 30px;
            border: 0;
            background: black;
        }

        .ui-slider-vertical .ui-slider-range {
            top: 0;
            height: 1px;
            width: 80px;
        }

        .ui-slider-vertical .ui-slider-range-min {
            left: 0px;
        }

        .ui-slider-vertical .ui-slider-range-max {
            right: 0px;
        }

    hr {
        border-top: 1px solid #999999;
    }

    .ValidateTips {
        color: red;
    }
</style>

<div id="MAXDeviceTop" class="MAXDeviceTopDiv" style="background-color: #ccc;">
    <div style="padding: 10px 0px 0px 0px; margin: -20px 0px 0px 16px; float:left;">
        <img id="backBtn" src="/images/icon_back.png" width="200px" height="100px">
    </div>
    <div class="inner" style="padding: 0px; float:right; color:#000000;">
        <div class="popr" data-id="1">
            <span class="dot" style="margin: 14px 27px 0px 0px;">
                &nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/icon_defaultIcon.png" style="display:none;padding: 5px; margin: -12px 0px 0px 13px; float:left; z-index: 100;" width="58px" height="58px">
            </span>
        </div>
    </div>
    <div class="showUserDataDiv" style=""><p class="showUserDataMsg">Welcome!&nbsp;<span id="showUserIDMenuTop"></span>&nbsp;&nbsp;</p>&nbsp;&nbsp;</div>
    <div id="SubDiv" class="">
        <div class="popr-box" data-box-id="1" style="margin: 0px 100px 0px 0px;">
            <a href="@Url.Action("Logout", "Login")" class=""><div class="popr-item">登出</div></a>
            <a href="@Url.Action("Index", "Home")" class=""><div class="popr-item">回到主頁</div></a>
            <a href="javascript:displayDeviceIDSN();" id="MAXLite1DisplayID"><div class="popr-item" id="feugait">顯示設備ID</div></a>
            <a href="DeviceSystemStatusSettings.html"><div class="popr-item">顯示系統狀態</div></a>
            <a href="@Url.Action("ResetUserPassword", "Home")"><div class="popr-item">重設密碼</div></a>
            <a href="@Url.Action("Index", "PermissionSettings")"><div class="popr-item">權限設置</div></a>
        </div>
    </div>
</div>

<div class="mainDevListContent" style="margin: 0px, 0px, 0px, 0px; ">
    <div class="deviceContent">
        <div class="horizontal div1" style="border: 1px solid transparent; margin: 0px 2px 0px 0px;">
            <div class="vertical v1" style="padding: 2px; border: 1px solid transparent; margin: 0, auto;background-color: transparent;">
                <div class="horizontal div2" style="border-bottom: 1px solid black;border-right: 1px solid black; margin: 72px 0px 0px -25px; background-color: #E6E6E6;">
                    <div class="vertical v2a" style="width:255px; height: 390px; border: 1px solid transparent; background-color: transparent; padding: 65px 0px 73px 0px;">
                        <div class="horizontal Row1" style="border: 1px solid transparent; width:30%;height:35%; margin: 0 auto;top:5px; padding:0px; position:relative;">
                            <div class="imgWrapper" style="border: 1px solid transparent;float:left;margin:2px 0px 0px 0px;">
                                <img class="imgSixClass" id="MAXLite1_img" src="/images/icon_ML-1_off.png" width="105px" height="110px" style="padding:5px; border:0;" />
                            </div>
                            <div class="imgWrapper" style="border: 1px solid transparent; position:relative;float:left;">
                                <img class="imgSixClass" id="MAXAir_img" src="/images/icon_MA_off.png" width="100px" height="95px" style="margin:8px 0px 0px -9px;border:0; " />
                            </div>
                        </div>
                        <div class="horizontal Row2" style="border: 1px solid transparent; width:30%;height:35%; margin: 0 auto;top:5px; padding:5px; position:relative;">
                            <div class="imgWrapper" style="border: 1px solid transparent; position:relative;float:left;">
                                <img class="imgSixClass" id="MAXLite2_img" src="/images/icon_ML-2_off.png" width="105px" height="110px" style="padding:5px; margin-top:1px;" />
                            </div>
                            <div class="imgWrapper" style="border: 1px solid transparent; position:relative;float:left;">
                                <img class="imgSixClass" id="MAXScene_img" src="/images/icon_MS_off.png" width="100px" height="95px" style="margin:4px 0px 0px -9px;border:0; " />
                            </div>
                        </div>
                        <div class="horizontal Row2" style="border: 1px solid transparent; width:30%;height:35%; margin: 0 auto;top:5px; position:relative;">
                            <div class="imgWrapper" style="border: 1px solid transparent; position:relative;float:left;">
                                <img class="imgSixClass" id="MAXLite3_img" src="/images/icon_ML-3_off.png" width="105px" height="110px" style="padding:5px;" />
                            </div>
                            <div class="imgWrapper" style="border: 1px solid transparent; position:relative;float:left;">
                                <img class="imgSixClass" id="MAXBook_img" src="/images/icon_MB_on.png" width="100px" height="95px" style="margin:9px 0px 0px -9px;" />
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                    <div class="vertical v2b" style="width:318px; padding:2px; border: 1px solid transparent;background-color: #E6E6E6; vertical-align: top;">

                        <div class="horizontal carouselAir1" style="border: 1px solid transparent;">
                            <div class="vertical carouselAirV1" style="border: 1px solid transparent;margin: -60px 40px 0px 0px;">
                                <img class="" id="MAXLite2_Carousel_img" src="/images/icon_MB_on.png" style="margin:0 auto;" width="275px" height="275px" style="margin:0px 0px 0px 0px;" />
                            </div>
                        </div>
                        <div class="horizontal carouselAir2" style="width:252px;height:80px;text-align:left;border: 1px solid transparent;margin:-80px 0px 0px 0px;">
                            <div class="vertical carouselAirV1" style="width:30px; border: 1px solid transparent;margin:0 auto;padding:0px 0px 0px 0px;">
                                <img class="" id="MAXLite2_Carousel1_img" src="/images/icon_change_left.png" width="25px" height="25px" style="margin:20px 0px 0px 0px;" />
                            </div>
                            <div class="vertical carouselMAXLite2V2" style="width:168px; border: 1px solid transparent; margin:0px 0px 0px 0px;text-align:center;">
                                <div class="horizontal carouselh22" style="width:122px;height:60px;text-align:center;border: 1px solid transparent;margin:20px 0px 0px 0px;">
                                    <span style="border: 1px solid transparent; font-size:22px;margin:0px auto;white-space:nowrap;">
                                        MAXBook 01
                                    </span>
                                </div>
                                <div class="horizontal carouselh23" style="width:120px;height:90px;text-align:center;border: 1px solid transparent;margin:-8px 0px 0px 0px;">
                                    <span style="border: 1px solid transparent; font-size:18px;margin:0px auto; white-space:nowrap;">Guest Room</span>
                                </div>
                            </div>
                            <div class="vertical carouselAirV3" style="width:30px; border: 1px solid transparent; margin:0 auto; padding: 0px 0px 0px 0px;">
                                <img class="" id="MAXAir_Carousel1_img" src="/images/icon_change_right.png" width="25px" height="25px" style="margin:20px 0px 0px -5px;" />
                            </div>
                        </div>
                        <div class="horizontal carouselAir3" style="width:252px; height:8px; border: 1px solid transparent; text-align:center; margin:0px 0px 0px 0px;">
                            <div style="margin:0 auto; vertical-align:top;">
                                <span id="CurrentDeviceIndx">1</span>/<span id="TotoalDeviceCount">1</span>
                            </div>
                        </div>
                        <div class="horizontal carouselAir3" style="width:252px; height:45px; border: 1px solid transparent; text-align:center; margin:0px 0px 0px 0px;">
                        </div>
                        <div class="horizontal carouselAir3" style="width:252px; height:30px;  border: 1px solid transparent; text-align:center; margin:0px 0px 0px 0px;">
                            <div style="margin:0 auto;">
                                <button id="DeviceListBtn" style="height:20px; font-size:11px; width:80px;">Device List</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="horizontal div3" style="border-right: 1px solid black; height:60px;">
                    &nbsp;&nbsp;
                </div>
                <div class="horizontal div6" style="border-right: 1px solid black;">
                    <img class="" id="Floorplan_img" src="/images/RexliteLogo.png" width="390px" height="114px" style="padding:5px;left:5px;" />
                </div>
                <div class="horizontal div7" style="border-right: 1px solid black; height:60px;">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="vertical v2" style="width:50%;height:550px; border: 1px solid transparent; margin: 150px 0px 0px -30px ;background-color: transparent;">
                <div class="horizontal div3" style="border: 1px solid transparent; margin: 0 auto; width:45px; height: 20px;">
                    <div class="vertical v101">
                        <div class="" style="border: 1px solid transparent; margin: 0 auto; width:100px; height: 100px;">
                            <br />
                        </div>
                        <div class="" style="border: 1px solid transparent; margin: 0 auto; width:350px; height: 200px;">
                            <span style="font-size: 30px; font-weight:bold; color: blue; white-space:nowrap;">INTERNET</span>
                        </div>
                        <div class="" style="border: 1px solid transparent; margin: 0 auto; width:350px; height: 200px;">
                            <span style="font-size: 16px; white-space:nowrap;">The system is functioning properly.</span>
                        </div>
                        <div class="" style="border: 1px solid transparent; margin: 0 auto; width:100px; height: 100px;">
                            <br />
                        </div>
                        <div class="" style="border: 1px solid transparent; margin: 0 auto; width:350px; height: 200px;">
                            <span style="font-size: 30px; font-weight:bold; color: blue; white-space:nowrap;">STATUS</span>
                        </div>
                        <div class="" style="border: 1px solid transparent; margin: 0 auto; width:350px; height: 200px;">
                            <span style="font-size: 16px; white-space:nowrap;">The MAXIS system is functioning properly.</span>
                        </div>
                        <div class="" style="border: 1px solid transparent; margin: 0 auto; width:100px; height: 100px;">
                            <br />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        var loginUserName = $('#loginUserName').val();
        console.log("loginUserName = " + loginUserName);
        $('#showUserIDMenuTop').text(loginUserName + " ");
        $('.popr').popr();
        $("#backBtn").click(function () {
            window.history.back();
        });


        $("#DeviceListBtn").click(function () {
            var url = '@Url.Action("Index", "MAXBookDeviceList")';
            location.href = url;
         });

        $("#MAXLite1_img").click(function () {
            var url = '@Url.Action("Index", "MAXLite1DeviceList")';
            location.href = url;
         });

        $("#MAXLite2_img").click(function () {
            var url = '@Url.Action("Index", "MAXLite2DeviceList")';
            location.href = url;
        });


        $("#MAXLite3_img").click(function () {
            var url = '@Url.Action("Index", "MAXLite3DeviceList")';
            location.href = url;
        });

        $("#MAXAir_img").click(function () {
            var url = '@Url.Action("Index", "MAXAirDeviceList")';
            location.href = url;
        });

        $("#MAXScene_img").click(function () {
            var url = '@Url.Action("Index", "MAXSceneDeviceList")';
            location.href = url;
        });

        $("#MAXBook_img").click(function () {
            var url = '@Url.Action("Index", "MAXBookDeviceList")';
            location.href = url;
        });



    });
</script>

@Html.Hidden("loginUserName", Session["userName"])
@Html.Hidden("getSelectedMAXBookBleID", Session["MAXBookSelectedBleID"])
@Html.Hidden("getSelectedMAXBookBleSN", Session["MAXBookSelectedBleSN"])
@Html.Hidden("LastSavedSliderOptionCmd", Session["LastSavedSliderOptionCmd"])
<input id="formatInitMAXBookOptionCallCmd" type="hidden" />
<script>
    $(document).ready(function () {
        var getSelectedMAXLite1BleID = $('#getSelectedMAXLite1BleID').val();
        var getSelectedMAXLite1BleSN = $('#getSelectedMAXLite1BleSN').val();
        console.log("getSelectedMAXLite1BleID =" + getSelectedMAXLite1BleID);
        console.log("getSelectedMAXLite1BleSN =" + getSelectedMAXLite1BleSN);

        var loginUserName = $('#loginUserName').val();
        console.log("loginUserName = " + loginUserName);
        $('#showUserIDMenuTop').text(loginUserName + " ");
        $('.popr').popr();
        $("#backBtn").click(function () {
            window.history.back();
        });


    });
</script>
